label {
    color: rgb(97, 158, 179);
    border: 1px solid;
    border-radius: 12px;
    height: 48px;
    line-height: 46px;
    width: 90px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

#shot_button {
    display: none;
}